<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_freeshippingteaser</name>
    <displayName><![CDATA[Free Shipping Teaser]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Displays a real-time free shipping progress teaser in cart areas.]]></description>
    <author><![CDATA[Previn Kalisetty Appadu]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
